{% extends 'wjcontact/base.html' %}

{% block content %}
    <div class="control_line">
        <input class="research_text" type:"text" value="Please insert name.">
        <input class="search btn" type="button" value="Search">
        <a href="{% url 'wjcontact_new' %}"><input class="btn" type="button" value="Add"></a>
    </div>
    <table>
    <tr>
        <th>&nbsp&nbsp&nbsp</th>
        <th>Name</th>
        <th>Phone number</th>
        <th>E-mail address</th>
        <th class="blank">
        <th class="blank">
    </tr>          
    {% for contact in contacts %}
    <tr>
        <td>{{ contact.pk }}</td>
        <td><a href="{% url 'wjcontact_detail' pk=contact.pk %}">{{ contact.name }}</a></td>
        <td>{{ contact.phone_number|linebreaksbr }}</td>
        <td>{{ contact.e_mail_address }}</td>
        <td class="blank btn"><a href="{% url 'wjcontact_detail' pk=contact.pk %}"><input type="button" value="edit"></a></td>
        <td class="blank btn"><a href="{% url 'wjcontact_delete' pk=contact.pk %}"><input type="button" value="del"></a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock%}    
